<!-- alert-schedule-popup.html -->
<div class="list">

  <label class="item item-radio">
    <input type="radio" value="0" ng-model="selected.alertInterval" name="alertIntervalRadio">
    <div class="item-content">
      That day
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" value="86400000" ng-model="selected.alertInterval" name="alertIntervalRadio">
    <div class="item-content">
      One day before
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

</div>