<ion-header-bar class="bar bar-header bar-dark">
  <h1 class="title">Search The Movie Database</h1>
</ion-header-bar>
<ion-content>
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-model="selected.movieName" ng-change="searchMovieDB()">
  </label>
  <ion-list>
    <div class="list">
      <div class="item">Movie 1</div>
      <div class="item">Movie 2</div>
      <a class="item" href="#/app/item/2">Movie 13</a>
      <div class="item">Movie 4</div>
      <div class="item">Movie 5</div>
      <a class="item" href="#/app/item/5">Movie 6</a>
    </div>
  </ion-list>
</ion-content>