<ion-view view-title="Watchout">
<ion-content>
  <div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/tv_shows.png">
    <p>
      This is an App to keep track of the movies and TV shows that you are watching and may be interested in watching based on your taste and preference and get alerts when new episode of your favourite show or movie releases.
    </p>
    <p>
      <a href="#" class="subdued">Powered by TheMovieDB</a>
    </p>
  </div>
</div>
</ion-content>
</ion-view>