<ion-tabs class="tabs-icon-top tabs-color-active-positive">
 <!-- Upcoming Movies Tab -->
  <ion-tab title="Movies" icon-off="ion-easel" icon-on="ion-easel" href="#/app/movies/upcoming">
    <ion-nav-view name="tab-upcoming-movies"></ion-nav-view>
  </ion-tab>
 <!-- Movie Genres Tab -->
  <ion-tab title="Movie Genre" icon-off="ion-film-marker" icon-on="ion-film-marker" href="#/app/movies/genre">
    <ion-nav-view name="tab-movie-genre"></ion-nav-view>
  </ion-tab>
  <!-- Watched Movies  Tab -->
  <ion-tab title="Watched Movies" icon-off="ion-android-checkbox-outline" icon-on="ion-android-checkbox" href="#/app/movies/watched">
    <ion-nav-view name="tab-watched-movie"></ion-nav-view>
  </ion-tab>
  <!-- Watched Movies  Tab -->
  <ion-tab title="Search Movies" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/app/movies/search">
    <ion-nav-view name="tab-search-movie"></ion-nav-view>
  </ion-tab>  
</ion-tabs>
