<ion-tabs class="tabs-icon-top tabs-color-active-positive">
 <!-- Upcoming Shows Tab -->
  <ion-tab title="Shows" icon-off="ion-easel" icon-on="ion-easel" href="#/app/tvshows/upcoming">
    <ion-nav-view name="tab-upcoming-tvshows"></ion-nav-view>
  </ion-tab>
 <!-- Movie Genres Tab -->
  <ion-tab title="TV Genre" icon-off="ion-film-marker" icon-on="ion-film-marker" href="#/app/tvshows/genre">
    <ion-nav-view name="tab-tvshow-genre"></ion-nav-view>
  </ion-tab>
  <!-- Watched Shows  Tab -->
  <ion-tab title="Watched Shows" icon-off="ion-android-checkbox-outline" icon-on="ion-android-checkbox" href="#/app/tvshows/watched">
    <ion-nav-view name="tab-watched-tvshow"></ion-nav-view>
  </ion-tab>
  <!-- Search Shows  Tab -->
  <ion-tab title="Search Shows" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/app/tvshows/search">
    <ion-nav-view name="tab-search-tvshow"></ion-nav-view>
  </ion-tab>  
</ion-tabs>
