.float_left {
  float: left;
}
.float_right {
  float: right;
}
.margin_auto {
  margin: 0 auto;
}
.episode_detail {
  width : 50%;
  height : 40px;
  display: inline-block;
  text-align: center;
}
.nav_button {
  width : 25%;
  height : 40px;
  display: inline-block;
}
.styled progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 70%;
  height: 10px;

  /* Firefox */
  border: none;
  background: #EEE;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
}

.styled progress::-webkit-progress-bar {
  background: #EEE;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}

.styled progress::-webkit-progress-value {
  background-color: #CC8800;
  border-radius: 3px;
}

.styled progress::-moz-progress-bar {
  background-color: #5CD65C;
  border-radius: 3px;
}

