<ion-view view-title="{{tvShowEpisodes.name}} Season {{tvShowEpisodes.season_number}}">
  <ion-content>
    <ion-list>
     <ion-item ng-repeat="tvShowEpisode in tvShowEpisodes.episodes" type="item-text-wrap" ui-sref="app.tvshow-all-episodes({'showId' : '{{selected.showId}}', 'seasonNumber' : '{{selected.seasonNumber}}', 'episodeNumber' : '{{tvShowEpisode.episode_number}}' })">
		 <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon ion-android-checkbox-outline-blank" ng-if="!tvShowEpisode.isWatched"  ng-click="changeWatchedStatus('{{tvShowEpisode.episode_number}}',$index,tvShowEpisode.isWatched, $event)"></i>
		    <i class="icon ion-android-checkbox" ng-if="tvShowEpisode.isWatched"  ng-click="changeWatchedStatus('{{tvShowEpisode.episode_number}}',$index,tvShowEpisode.isWatched, $event)"></i>
	      	<h2>{{tvShowEpisode.name}}</h2>
	    	<p>Aired : {{tvShowEpisode.air_date}}</p>
		    <i ng-click="showMenu($event,'{{tvShowEpisode.episode_number}}',$index)"  class="icon ion-android-more-vertical"></i>
		 </a>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
