<ion-view view-title="TV Shows">
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="selected.showName" ng-change="searchShows()">
     </label>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="tvShow in tvShows" type="item-text-wrap" ui-sref="app.tvshow-selected({'showId' : '{{tvShow.id}}'})">
        <img ng-src="{{tvShow.poster_path}}">
        <h2>{{tvShow.original_name}}</h2>
        <p>{{tvShow.first_air_date}}</p>
        <p>{{tvShow.show_genre_labels}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      on-infinite="fetchMoreTvShows()"
      distance="1%">
   </ion-infinite-scroll>
  </ion-content>
</ion-view>
