<ion-view view-title="{{tvShow.name}}">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-thumbnail-left">
        <img src="{{movie.poster_path}}">
        <h2>{{tvShow.original_name}}</h2>
        <p>{{tvShow.first_air_date}} - {{tvShow.last_air_date}}</p>
      </div>
      <div class="item item-body">
        <img class="item item-image" src="{{tvShow.backdrop_path}}">
        <p>
          {{tvShow.overview}}
        </p>
        <p>
          <a href="#" class="subdued">{{tvShow.number_of_seasons}} seasons</a>
          <a href="#" class="subdued">{{movie.number_of_episodes}} episodes</a>
          <a href="#" class="subdued">In Production: 
            <span ng-if="tvShow.in_production.adult"> Yese</span>
            <span ng-if="! tvShow.in_production"> Noi</span>
          </a>
          <a href="#" class="subdued">Genres: {{tvShow.show_genre_labels}}</a>
        </p>
      </div>
      <div class="item card">
        <ion-list>
          <ion-item ng-repeat="tvShowSeason in tvShow.seasons" type="item-text-wrap" href="#/app/tvshow-season/{{tvShow.id}}/{{tvShowSeason.season_number}}">
          <input type="range" min="0" max="{{tvShowSeason.episodes_count}}" value="5" step="1" readonly disabled>
          </ion-item>
        </ion-list>
      </div>      
    </div>
  </ion-content>
</ion-view>